body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-custom {
    background-color: #fe2c55;
    color: white;
    font-weight: 400;
    width: 100%;
}

.btn-custom:hover {
    background-color: #fe2c55;
    color: white;
    font-weight: 400;
    opacity: 0.85;
}

.showpassword {
    position: relative;
}

.showpassword input {
    position: relative;
    padding-right: 40px;
}

.showpassword i {
    position: absolute;
    top: 35px;
    right: 10px;
    cursor: pointer;
}

.backhome {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.backhome::before {
    content: "<";
    margin-right: 3px;
}
.backhome a{
    text-decoration: none;
    color: #000;
}