.productDetail {
    background: #fff;
    border-bottom: 1px solid #cb1c22;
}

.pd-header {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.pdName {
    margin-bottom: 15px;
}

.pd-image--img {
    scale: 0.7;
}

.carousel-control {
    color: #cb1c22;
    font-size: 20px;
    font-weight: 700;
}

.pd-image {
    height: 400px;
}

.pd-image>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pd-price--number {
    font-weight: 500;
    font-size: 32px;
    color: #cb1c22;
}
.pd-price--text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.pd-pricesale {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #FFF;
}

.pd-configuration {
    background: #F8F9FA;
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px;
}

.pd-configuration>ul {
    list-style-type: none;
    margin: 0;
}
.pd-configuration>ul>li {
    color: #495057;
    font-weight: 600;
    font-size: 17px;
}


.pd-capacity {
    display: flex;
    justify-content: space-between;
}

.pd-capacity>.radio {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    border: 1px solid #ccc;
}


.pd-color-item {
    width: fit-content;
    text-align: center;
}

.pdcolor-img {
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-check {
    position: relative;
}

.pd-color-item:hover .pd-icon--check {
    opacity: 1;
    cursor: pointer;
}

.pd-icon--check {
    display: none !important;
}

.nav-link {
    color: #000;
    padding: 0 !important;
    cursor: pointer;
}
.nav-link:hover {
    color: #000;
}

.check-color.active .pd-icon--check {
    display:  block !important;
}

.check-color.active {
    width: 100%;
    opacity: 1;
    overflow: hidden;
    border: 1px solid red;
    font-size: 25px;
    background-color: unset !important;
    color: #000 !important;
}

.pdcolor-text {
    font-size: 20px;
    font-weight: 500;
}

.pd-oder>a>button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 20px 0;
    background: #cb1c22;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.pd-endow {
    border: 1px solid #cb1c22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

.pd-endow--title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #cb1c22;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    font-size: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.pd-endow>span {
    font-size: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

/* comment */

.review-product {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: fit-content;
    padding: 30px;
}

.comment-title {
    border-bottom: 1px solid #ccc;
}

.comment {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
}

.comment-imageUser {
    width: fit-content;
    padding: 10px;
}

.btn-review {
    border: 1px solid #ccc;
    background: #ccc;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    width: fit-content;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
}

.btn-deletecomment {
    border: 1px solid #ccc;
    width: fit-content;
    padding: 0 30px;
    background: unset;
    margin: 10px 0;
}

.star-check {
    display: flex;
    flex-direction: column;
    width: 200px;
}